table {
    width: 100%;
}

.flotante {
    display: scroll;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    background: #00a985 !important;
}

tr.mat-header-row.ng-star-inserted {
    background: #00a985;
    color: white !important;
}