.tituloPage {
    padding-left: 25px;
    padding-bottom: 2px;
    background: #142392;
    padding-top: 15px;
    color: white;
}

.uploadDocument {
    float: right;
    margin-top: 18px;
}

.file-name {
    padding-top: 5px;
}

mat-card-header.mat-card-header {
    background: aliceblue;
}