<table mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Rol</th>
        <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">

        <th mat-header-cell *matHeaderCellDef> Acciones
            <br>
            <button (click)="openDialog('Agregar', {})" mat-fab class="flotante" matTooltip="Agregar rol" mat-flat-button color="primary">
                    <i class="material-icons">add</i>
                </button>
        </th>
        <td mat-cell *matCellDef="let row">
            <button (click)="openDialog('Actualizar',row)" mat-icon-button matTooltip="Editar" class="iconbutton" color="primary">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            <button *ngIf="row.borrar" mat-icon-button matTooltip="Borrar rol" class="iconbutton" color="primary" (click)="openDialogAccionUrs('Eliminar',row)">
                    <i class="fas fa-trash"></i>
                </button>
            <button *ngIf="!row.borrar" disabled mat-icon-button matTooltip="Borrar rol" class="iconbutton" color="primary" (click)="openDialogAccionUrs('Eliminar',row)">
                    <i class="fas fa-trash"></i>
                </button>
        </td>
    </ng-container>
    <tr mat-header-row title *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>