    .checkboxRoles {
        display: grid;
    }
    
    .mat-dialog-container {
        padding: 0px;
    }
    
    table {
        width: 100%;
    }
    
    .addInTable {
        float: right;
        margin-top: -15px;
        margin-bottom: -40px;
        margin-right: -10px;
    }