$colorOficialPrincipal: #000f9f;
$colorOficialSecundario: #0066ff;
$colorOficialComplemento: #c8c8aa;
$colorOficialArea: #00a985;
$colorHoverEnlaces: #e8c204;
/* Hover */
$colorOficialPrincipalHover: darken($colorOficialPrincipal, 10%);
$colorOficialSecundarioHover: darken($colorOficialSecundario, 10%);
$colorOficialComplementoHover: darken($colorOficialComplemento, 10%);
$colorOficialAreaHover: darken($colorOficialArea, 10%);
