$md-primario: (
    50 : #e0e2f3,
    100 : #b3b7e2,
    200 : #8087cf,
    300 : #4d57bc,
    400 : #2633ad,
    500 : #000f9f,
    600 : #000d97,
    700 : #000b8d,
    800 : #000883,
    900 : #000472,
    A100 : #a1a1ff,
    A200 : #6e6eff,
    A400 : #3b3bff,
    A700 : #2121ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-eje: (
    50 : #e0f5f0,
    100 : #b3e5da,
    200 : #80d4c2,
    300 : #4dc3aa,
    400 : #26b697,
    500 : #00a985,
    600 : #00a27d,
    700 : #009872,
    800 : #008f68,
    900 : #007e55,
    A100 : #acffdf,
    A200 : #79ffcb,
    A400 : #46ffb8,
    A700 : #2cffae,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-documentos: (
    50 : #f8f8f5,
    100 : #efefe6,
    200 : #e4e4d5,
    300 : #d9d9c4,
    400 : #d0d0b7,
    500 : #c8c8aa,
    600 : #c2c2a3,
    700 : #bbbb99,
    800 : #b4b490,
    900 : #a7a77f,
    A100 : #ffffff,
    A200 : #fffffe,
    A400 : #ffffcb,
    A700 : #ffffb2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);