<video id="background-video" poster="assets/video/Office-Day.jpg" autoplay muted loop>
    <source src="assets/video/Office-Day.webm" type="video/mp4">
</video>

<div id="img-back">
    <img src="assets/video/Office-Day.jpg" alt="fondo-no-encontrado">
</div>

<div class="contenido">
    <img src="assets/icons/apple-icon.png" routerLink="/" alt="logo-guanajuato-2018">
    <div class="notificacion">
        <h1>Lo Sentimos</h1>
        <h2>La página a la cual está intentando acceder no existe </h2>
    </div>
</div>