<br>
<ul class="breadcrumb">
    <li><a href="http://finanzas.guanajuato.gob.mx/index.php">Inicio > &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href="http://finanzas.guanajuato.gob.mx/mapa.php?id=1">Trámites y Servicios >&nbsp;&nbsp;&nbsp;&nbsp; </a>
    </li>
    <li><a href="http://finanzas.guanajuato.gob.mx/mapa.php?id=2">Servicios en línea >&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
    <li class="active">Requisitos trámites </li>
</ul>
<br>
<font color="#0363C9"><b>Requisitos para tus trámites </b> </font>
<div class="importante">
    <!-- <hr>
    <font color="red"><b>IMPORTANTE:<br></b> </font> Favor de leer los requisitos para su trámite y preparar un archivo con la documentación escaneada con un máximo de 8 MB en formato pdf, jpg, zip o rar, mismo que será necesario para concluir el pre-registro de su cita.
    Al concluir el pre-registro se le enviará un correo electrónico con los requisitos y la fecha que recibirá el correo de confirmación de cumplir con todos los requisitos.
    <hr> -->
</div>
<div class="contenido-home">
    <div class="contenido-area-cards">
        <div class="card-img-anuncio">
            <img style="border-radius: 10px; box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.15);" src="http://citasdgi.guanajuato.gob.mx/citas/img/cartel_gestores_2.png" alt="">

        </div>
        <div class="cards-logon-contenido">
            <div class="card-logon-area">
                <a href="#" routerLink="login" style="color:rgb(83, 83, 83); text-decoration:none;">
                    <div align="center" class="card-logon lgon">
                        <p>
                            <i aria-label="Información" style="font-size: 60px;" class="material-icons">
                                account_circle
                            </i>
                        </p>
                        <h3>Inicio de Sesión</h3>
                        <p>Para iniciar tu tramite inicia sesión aqui.</p>
                    </div>
                </a>
            </div>
            <div class="card-more-info-area">
                <a href="http://tramitesyservicios.strc.guanajuato.gob.mx/index.php" style="color:white;text-decoration:none;">
                    <div align="center" class="card-more info">
                        <p>
                            <i aria-label="Información" style="font-size: 60px;" class="material-icons">info</i>
                        </p>
                        <h3>Información</h3>
                        <p>Conoce toda la información que necesitas para realizar tu trámite.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- <div class="social-area">
    <div class="text-compartir">
        Compartir
    </div>
    <div class="social-fb white-text-button">
        <button class="button" data-sharer="facebook" data-hashtag="Finanzas Gto" data-url="http://finanzas.guanajuato.gob.mx/#//"><i class="fab fa-facebook-f"></i></button>
    </div>
    <div class="social-twitter white-text-button">
        <button class="button" data-sharer="twitter" data-title="Finanzas Gto" data-hashtags="awesome, sharer.js" data-url="http://finanzas.guanajuato.gob.mx/#/"><i class="fab fa-twitter"></i></button>
    </div>
    <div class="social-whatsapp white-text-button">
        <button class="button" data-sharer="whatsapp" data-title="Finanzas Gto" data-url="http://finanzas.guanajuato.gob.mx/#/"><i class="fab fa-whatsapp"></i></button>
    </div>
</div> -->