<form [formGroup]="formCatalogoArchivos" autocomplete="false">

    <mat-toolbar color="primary">
        <span> Archivos</span>
    </mat-toolbar>
    <div class="example-container" style="margin-top: 25px; padding-left: 50px; padding-right: 50px;">
        <mat-form-field>
            <input matInput placeholder="Texto" formControlName="descripcion" autocomplete="new-password">
            <mat-hint align="end">Máximo 100 caracteres</mat-hint>
            <mat-error *ngIf="hasError('descripcion', 'required')">El campo es requerido </mat-error>
            <mat-error *ngIf="hasError('descripcion', 'maxlength')">Se excedió el límite de 100 caracteres</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Extensión </mat-label>
            <mat-select formControlName="extension">
                <mat-option value="PNG">PNG</mat-option>
                <mat-option value="PDF">PDF</mat-option>
                <mat-option value="JPG">JPG</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('extension', 'required')">El campo es requerido </mat-error>
        </mat-form-field>
    </div>

    <div class="row justify-content-center">
        <div mat-dialog-actions>
            <button mat-stroked-button class="boton-secondary" (click)="saveData()" [disabled]="!formCatalogoArchivos.valid">Guardar</button>
            <button mat-stroked-button (click)="closeDialog()" class="boton-gray">Cancelar</button>
        </div>
    </div>
</form>